<!-- <video id="background-video" autoplay loop muted poster="blob:https://youfiles.herokuapp.com/7029ad26-6ae8-4f24-91cc-51cd2b766068" type="video/mp4"> -->
  <iframe id="background-video" width="100%" height="100%" src="https://www.youtube.com/embed/nejlAUY5gEw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!-- </video> -->

<div class="block-center">
    <ion-card class="">
      <ion-card-header>
        <img class="img" src="https://www.thuengay.vn/uploads/770x433/76adc0f9d2a5a0e37074e6b0c79d9de9be8f8a312.jpg"/>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input placeholder="nguyenvana@........"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input placeholder="*********"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Save State</ion-label>
          <ion-checkbox color="primary" checked slot="start"></ion-checkbox>
        </ion-item>
        <br />
        <ion-button size="block" color="dark">Login</ion-button>
        <ion-button size="block" color="dark">Register</ion-button>

      </ion-card-content>
    </ion-card>
</div>

