<div class="block-center">
  <ion-card class="">
    <ion-card-header>
      <img class="img" src="https://www.thuengay.vn/uploads/770x433/76adc0f9d2a5a0e37074e6b0c79d9de9be8f8a312.jpg"/>
      <ion-card-title>Register</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input placeholder="nguyenvana@........"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input placeholder="*********"></ion-input>
      </ion-item>
      <br />
      <ion-button size="block" color="dark">Register</ion-button>
      <ion-button size="block" color="dark">Back</ion-button>

    </ion-card-content>
  </ion-card>
</div>